*{margin:0;padding:0;}

.btn_body{
    width: 150px;
    // height: 8%;
    background-color: rgb(255, 88, 102);
    color: #fff;
    cursor: pointer;
    margin: 50px 0 0 50px;
    align-self: center;
    line-height: 42px;
    backface-visibility: hidden;
    position: absolute;
    text-align: center;
}
.btn_body:hover{
    background-color:  rgba(255, 146, 157, 0.884);
}

